@page "/schedules"

<div style="height: 100px; max-height:100px;" class="row pl-4">
    @if (!UserPage.SignedIn)
    {
        <div>
            <h1>You are not signed in!</h1>
            <a role="button" class="btn btn-success" href="/">Login</a>
        </div>
    }
    else
    {
        <div>
            <h1>Your schedule</h1>
        </div>
    }
</div>
<div class="row">
    @if (UserPage.SignedIn && CurrentSchedule != null)
    {
        <div class="col col-nav">
            <table style="width:100%">
                <tr>
                    <th style="text-align: left">Day of the week</th>
                    <th style="text-align: left"> Workout</th>
                </tr>
                <tr>
                    <td>Monday</td>
                    <td>@ScheduleWorkouts[0].Type</td>
                    <td><a role="button" class="btn btn-success" style="width:100%" href="@ScheduleWorkouts[0].Href">View workout</a></td>
                </tr>
                <tr>
                    <td>Tuesday</td>
                    <td>---Rest---</td>
                </tr>
                <tr>
                    <td>Wednesday</td>
                    <td>@ScheduleWorkouts[1].Type</td>
                    <td><a role="button" class="btn btn-success" style="width:100%" href="@ScheduleWorkouts[1].Href">View workout</a></td>
                </tr>
                <tr>
                    <td>Thursday</td>
                    <td>---Rest---</td>
                </tr>
                <tr>
                    <td>Friday</td>
                    <td>---Rest---</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Saturday</td>
                    <td>@ScheduleWorkouts[2].Type</td>
                    <td><a role="button" class="btn btn-success" style="width:100%" href="@ScheduleWorkouts[2].Href">View workout</a></td>
                </tr>
                <tr>
                    <td>Sunday</td>
                    <td>---Rest---</td>
                </tr>
            </table>
        </div>
    }
    @if (UserPage.SignedIn && CurrentSchedule == null)
    {
        <div class="col col-nav">
            <div class="content-nav-bottom">
                <button class="btn btn-success" style="width:100%" @onclick="CreateSchedule">Create new schedule</button>
            </div>
        </div>
    }
</div>
<div class="row">
    @if (UserPage.SignedIn && CurrentSchedule != null)
    {
        <div class="content-nav-bottom">
            <br /><button class="btn btn-success" style="width:100%" @onclick="RefreshSchedule">Create new schedule</button>
        </div>
    }
</div>