@page "/"

@using Bitfit.Models

<div style="height: 100px; max-height:100px;" class="row pl-4">
    @if (!SignedIn)
    {
        <div>
            <h1>Welcome to Bitfit!</h1>
            <h3>Choose an account</h3>
        </div>
    }
    else
    {
        <div>
            <button class="btn btn-primary" style="top:55px; right:0; position:absolute" @onclick="SignOut">Sign Out</button>
            <h1>Welcome @CurrentUser.FullName!</h1>
            <h5>Your resting heart rate is @CurrentUser.RestHeartRate bpm</h5>
            <h5>Your VO2max is @CalcVo2Max() ml/kg/min</h5>
            <h5>You currently are in endurance group @CalcEnduranceRank()</h5>
        </div>
    }
</div>
<div class="row">
    @if (!SignedIn)
    {
        <div class="col col-nav">

            <div style="height: 660px; max-height:100%; overflow-y:auto; background-color:#eee;">
                @if (AllUsers != null)
                {
                    @foreach (var user in AllUsers)
                    {
                        <button class="btn btn-primary" style="width:100%" @onclick="() => SelectUser(user)">@user.FullName</button>
                    }
                }
                <br />
            </div>
            <div class="content-nav-bottom">
                <button class="btn btn-primary" style="width:100%" @onclick="OnNewUser">Add new user</button>
            </div>
        </div>
        <div class="col">
            @if (AddingUser)
            {
                <div style="height:660px; max-height:100%">
                    <EditForm Model="CurrentUser" OnValidSubmit="AddUser">
                        <div style="height:660px; max-height:100%;">
                            <DataAnnotationsValidator />
                            <ValidationSummary />
                            <h6>Full name: </h6><InputText class="form-control editItemInput" placeholder="Full name" @bind-Value="CurrentUser.FullName"></InputText><br />
                            <h6>Gender(M/F): </h6><InputText class="form-control editItemInput" placeholder="Gender" @bind-Value="CurrentUser.Gender"></InputText><br />
                            <h6>Age: </h6><InputNumber class="form-control editItemInput" placeholder="Age" @bind-Value="CurrentUser.Age"></InputNumber><br />
                            <h6>Resting heart rate: </h6><InputNumber class="form-control editItemInput" placeholder="Resting heart rate" @bind-Value="CurrentUser.RestHeartRate"></InputNumber>
                            <h6>Schedules:</h6>
                            <div style="height: 410px; max-height:410px; overflow-y:auto; background-color:#eee;">
                                @foreach (var schedule in AllSchedules)
                                {
                                    <button class="btn btn-primary" style="width:100%" @onclick="() => SelectSchedule(schedule)">@schedule.Name</button>
                                }
                            </div>
                        </div>
                        <button class="btn btn-primary" style="width:100%" type="submit"> Save </button>
                    </EditForm>
                </div>
            }
        </div>
    }
</div>
